<mat-form-field appearance="fill">
    <mat-label>年</mat-label>
    <mat-select [(ngModel)]="selectedYear">
      <mat-option *ngFor="let y of yearList" [value]="y">
          {{ y }}
      </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>月</mat-label>
    <mat-select>
      <mat-option *ngFor="let m of monthList" [value]="m">
          {{ m }}
      </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>日</mat-label>
    <mat-select>
      <mat-option *ngFor="let d of dateList" [value]="d">
          {{ d }}
      </mat-option>
    </mat-select>
</mat-form-field>